[alias]
    # Stash untracked files too
    sta = stash --all
    # Track change through line and file movement
    bla = blame -w -C -C -C
    # word diff
    wdiff = diff --word-diff
    fs = fuzzy status
    fd = fuzzy diff
    fl = fuzzy log
    fb = fuzzy branch
    b = rev-parse --abbrev-ref HEAD
    s = status
    cp = cherry-pick
    ours = "!f() { git co --ours $@ && git add %@; }; f"
    theirs = "!f() { git co --theirs %@ && git add %@; }; f"
    up = "!git pull; git submodule update"
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr, %cn)%Creset' --abbrev-commit --date=relative
    oldest-ancestor = !zsh -c 'diff -u <(git rev-list --first-parent \"${1:-master}\") <(git rev-list --first-parent \"${2:-HEAD}\") | sed -ne \"s/^ //p\" | head -1' -
[push]
    default = simple
[branch]
    autoSetupMerge = always
    autoSetupRebase = always
[core]
	excludesfile = /Users/tmuch/.gitignore_global
[init]
	defaultBranch = main

# REuse REcorded REsolution
# Remember merge conflict resolutions and automatically fix when seen again
# Useful when rebasing so don't have to fix the same thing over and over
[rerere]
	enabled = true
